.card {
    position: relative;
}
.card_link {
    
}

.card_img {
    margin-bottom: 28px;
    border-radius: 20px;
}

.card_body {
    display:flex;
    justify-content: space-between;
    column-gap:10px;
    align-items: center;
}

.card_title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 32px;
    line-height:1.56;
    letter-spacing: -0.04em;
    color:#000000;
}

.card_muted {
    font-weight: 500;
    font-size: 24px;
    line-height: 2.08;
    letter-spacing: -0.04em;
    color: #7f7f7f;
}